<div class="container-fluid mt-3">
    <h5>Mi carrito</h5>
    <hr/>

    <div class="row">
        <!-- contenido del carrito -->
        <div class="col-sm-9"> 
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Imagen</th>
                                    <th>Precio (S/.)</th>
                                    <th>Cantidad</th>
                                    <th>Importe</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of listCarrito; track item.producto) {
                                    <tr>
                                        <td>{{item.producto.nombre}}</td>
                                        <td>
                                            <img [src]="'/img/' + item.producto.imagen" width="50" height="60">
                                        </td>
                                        <td>{{item.producto.precio  | number: '1.2-2'}}</td>
                                        <!-- <td>{{item.cantidad}}</td> -->
                                        <td>
                                            <input type="number" class="form-control"
                                            [(ngModel)]="item.cantidad" min="1" 
                                            (change)="actualizar(item, $index)"
                                            (keydown)="onkeyDown($event)" >
                                        </td>
                                        <td>{{(item.producto.precio * item.cantidad) | number: '1.2-2'}}</td> 
                                        <td>
                                            <button (click)="eliminarItem($index)" type="button" class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }

                                @if (listCarrito.length == 0) {
                                    <tr>
                                        <td colspan="6" class="text-center">Tu carrito está vacio</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
         <!-- contenido del pago -->
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h5>Resumen de Compra</h5>
                        <hr>
                        <div class="d-flex justify-content-between mb-4">
                            <p class="mb-2">Total</p>
                            <p class="mb-2">S/{{carritoService.total() | number: '1.2-2'}}</p>
                        </div>

                        <button [disabled]="listCarrito.length == 0" type="button" class="btn btn-success btn-block btn-ig">
                            <div class="d-flex justify-content-center">
                                <span>Ir a comprar</span>
                            </div>
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
